.profilePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--small-spacing-300);

    .buttonGroup {
        display: flex;
        flex-wrap: wrap;
        gap: var(--small-spacing-300);
    }
}