.m-100 {
  margin: var(--small-spacing-100);
}
.m-200 {
  margin: var(--small-spacing-200);
}
.m-300 {
  margin: var(--small-spacing-300);
}
.m-400 {
  margin: var(--small-spacing-400);
}
.m-500 {
  margin: var(--small-spacing-500);
}
.m-600 {
  margin: var(--small-spacing-600);
}
.m-700 {
  margin: var(--small-spacing-700);
}
.m-800 {
  margin: var(--small-spacing-800);
}
.m-900 {
  margin: var(--small-spacing-900);
}
.m-1000 {
  margin: var(--small-spacing-1000);
}
.m-1100 {
  margin: var(--small-spacing-1100);
}
.m-1200 {
  margin: var(--small-spacing-1200);
}
.m-1300 {
  margin: var(--small-spacing-1300);
}
.m-1400 {
  margin: var(--small-spacing-1400);
}
.m-1500 {
  margin: var(--small-spacing-1500);
}
.m-1600 {
  margin: var(--small-spacing-1600);
}
.m-1700 {
  margin: var(--small-spacing-1700);
}
.m-1800 {
  margin: var(--small-spacing-1800);
}
.m-1900 {
  margin: var(--small-spacing-1900);
}
.m-2000 {
  margin: var(--small-spacing-2000);
}
.m-auto {
  margin-inline: auto;
}

.mt-100 {
  margin-top: var(--small-spacing-100);
}
.mt-200 {
  margin-top: var(--small-spacing-200);
}
.mt-300 {
  margin-top: var(--small-spacing-300);
}
.mt-400 {
  margin-top: var(--small-spacing-400);
}
.mt-500 {
  margin-top: var(--small-spacing-500);
}
.mt-600 {
  margin-top: var(--small-spacing-600);
}
.mt-700 {
  margin-top: var(--small-spacing-700);
}
.mt-800 {
  margin-top: var(--small-spacing-800);
}
.mt-900 {
  margin-top: var(--small-spacing-900);
}
.mt-1000 {
  margin-top: var(--small-spacing-1000);
}
.mt-1100 {
  margin-top: var(--small-spacing-1100);
}
.mt-1200 {
  margin-top: var(--small-spacing-1200);
}
.mt-1300 {
  margin-top: var(--small-spacing-1300);
}
.mt-1400 {
  margin-top: var(--small-spacing-1400);
}
.mt-1500 {
  margin-top: var(--small-spacing-1500);
}
.mt-1600 {
  margin-top: var(--small-spacing-1600);
}
.mt-1700 {
  margin-top: var(--small-spacing-1700);
}
.mt-1800 {
  margin-top: var(--small-spacing-1800);
}
.mt-1900 {
  margin-top: var(--small-spacing-1900);
}
.mt-2000 {
  margin-top: var(--small-spacing-2000);
}

.ml-100 {
  margin-left: var(--small-spacing-100);
}
.ml-200 {
  margin-left: var(--small-spacing-200);
}
.ml-300 {
  margin-left: var(--small-spacing-300);
}
.ml-400 {
  margin-left: var(--small-spacing-400);
}
.ml-500 {
  margin-left: var(--small-spacing-500);
}
.ml-600 {
  margin-left: var(--small-spacing-600);
}
.ml-700 {
  margin-left: var(--small-spacing-700);
}
.ml-800 {
  margin-left: var(--small-spacing-800);
}
.ml-900 {
  margin-left: var(--small-spacing-900);
}
.ml-1000 {
  margin-left: var(--small-spacing-1000);
}
.ml-1100 {
  margin-left: var(--small-spacing-1100);
}
.ml-1200 {
  margin-left: var(--small-spacing-1200);
}
.ml-1300 {
  margin-left: var(--small-spacing-1300);
}
.ml-1400 {
  margin-left: var(--small-spacing-1400);
}
.ml-1500 {
  margin-left: var(--small-spacing-1500);
}
.ml-1600 {
  margin-left: var(--small-spacing-1600);
}
.ml-1700 {
  margin-left: var(--small-spacing-1700);
}
.ml-1800 {
  margin-left: var(--small-spacing-1800);
}
.ml-1900 {
  margin-left: var(--small-spacing-1900);
}
.ml-2000 {
  margin-left: var(--small-spacing-2000);
}

.mr-100 {
  margin-right: var(--small-spacing-100);
}
.mr-200 {
  margin-right: var(--small-spacing-200);
}
.mr-300 {
  margin-right: var(--small-spacing-300);
}
.mr-400 {
  margin-right: var(--small-spacing-400);
}
.mr-500 {
  margin-right: var(--small-spacing-500);
}
.mr-600 {
  margin-right: var(--small-spacing-600);
}
.mr-700 {
  margin-right: var(--small-spacing-700);
}
.mr-800 {
  margin-right: var(--small-spacing-800);
}
.mr-900 {
  margin-right: var(--small-spacing-900);
}
.mr-1000 {
  margin-right: var(--small-spacing-1000);
}
.mr-1100 {
  margin-right: var(--small-spacing-1100);
}
.mr-1200 {
  margin-right: var(--small-spacing-1200);
}
.mr-1300 {
  margin-right: var(--small-spacing-1300);
}
.mr-1400 {
  margin-right: var(--small-spacing-1400);
}
.mr-1500 {
  margin-right: var(--small-spacing-1500);
}
.mr-1600 {
  margin-right: var(--small-spacing-1600);
}
.mr-1700 {
  margin-right: var(--small-spacing-1700);
}
.mr-1800 {
  margin-right: var(--small-spacing-1800);
}
.mr-1900 {
  margin-right: var(--small-spacing-1900);
}
.mr-2000 {
  margin-right: var(--small-spacing-2000);
}

.mb-100 {
  margin-bottom: var(--small-spacing-100);
}
.mb-200 {
  margin-bottom: var(--small-spacing-200);
}
.mb-300 {
  margin-bottom: var(--small-spacing-300);
}
.mb-400 {
  margin-bottom: var(--small-spacing-400);
}
.mb-500 {
  margin-bottom: var(--small-spacing-500);
}
.mb-600 {
  margin-bottom: var(--small-spacing-600);
}
.mb-700 {
  margin-bottom: var(--small-spacing-700);
}
.mb-800 {
  margin-bottom: var(--small-spacing-800);
}
.mb-900 {
  margin-bottom: var(--small-spacing-900);
}
.mb-1000 {
  margin-bottom: var(--small-spacing-1000);
}
.mb-1100 {
  margin-bottom: var(--small-spacing-1100);
}
.mb-1200 {
  margin-bottom: var(--small-spacing-1200);
}
.mb-1300 {
  margin-bottom: var(--small-spacing-1300);
}
.mb-1400 {
  margin-bottom: var(--small-spacing-1400);
}
.mb-1500 {
  margin-bottom: var(--small-spacing-1500);
}
.mb-1600 {
  margin-bottom: var(--small-spacing-1600);
}
.mb-1700 {
  margin-bottom: var(--small-spacing-1700);
}
.mb-1800 {
  margin-bottom: var(--small-spacing-1800);
}
.mb-1900 {
  margin-bottom: var(--small-spacing-1900);
}
.mb-2000 {
  margin-bottom: var(--small-spacing-2000);
}

.mx-100 {
  margin-inline: var(--small-spacing-100);
}
.mx-200 {
  margin-inline: var(--small-spacing-200);
}
.mx-300 {
  margin-inline: var(--small-spacing-300);
}
.mx-400 {
  margin-inline: var(--small-spacing-400);
}
.mx-500 {
  margin-inline: var(--small-spacing-500);
}
.mx-600 {
  margin-inline: var(--small-spacing-600);
}
.mx-700 {
  margin-inline: var(--small-spacing-700);
}
.mx-800 {
  margin-inline: var(--small-spacing-800);
}
.mx-900 {
  margin-inline: var(--small-spacing-900);
}
.mx-1000 {
  margin-inline: var(--small-spacing-1000);
}
.mx-1100 {
  margin-inline: var(--small-spacing-1100);
}
.mx-1200 {
  margin-inline: var(--small-spacing-1200);
}
.mx-1300 {
  margin-inline: var(--small-spacing-1300);
}
.mx-1400 {
  margin-inline: var(--small-spacing-1400);
}
.mx-1500 {
  margin-inline: var(--small-spacing-1500);
}
.mx-1600 {
  margin-inline: var(--small-spacing-1600);
}
.mx-1700 {
  margin-inline: var(--small-spacing-1700);
}
.mx-1800 {
  margin-inline: var(--small-spacing-1800);
}
.mx-1900 {
  margin-inline: var(--small-spacing-1900);
}
.mx-2000 {
  margin-inline: var(--small-spacing-2000);
}

.my-100 {
  margin-block: var(--small-spacing-100);
}
.my-200 {
  margin-block: var(--small-spacing-200);
}
.my-300 {
  margin-block: var(--small-spacing-300);
}
.my-400 {
  margin-block: var(--small-spacing-400);
}
.my-500 {
  margin-block: var(--small-spacing-500);
}
.my-600 {
  margin-block: var(--small-spacing-600);
}
.my-700 {
  margin-block: var(--small-spacing-700);
}
.my-800 {
  margin-block: var(--small-spacing-800);
}
.my-900 {
  margin-block: var(--small-spacing-900);
}
.my-1000 {
  margin-block: var(--small-spacing-1000);
}
.my-1100 {
  margin-block: var(--small-spacing-1100);
}
.my-1200 {
  margin-block: var(--small-spacing-1200);
}
.my-1300 {
  margin-block: var(--small-spacing-1300);
}
.my-1400 {
  margin-block: var(--small-spacing-1400);
}
.my-1500 {
  margin-block: var(--small-spacing-1500);
}
.my-1600 {
  margin-block: var(--small-spacing-1600);
}
.my-1700 {
  margin-block: var(--small-spacing-1700);
}
.my-1800 {
  margin-block: var(--small-spacing-1800);
}
.my-1900 {
  margin-block: var(--small-spacing-1900);
}
.my-2000 {
  margin-block: var(--small-spacing-2000);
}
