/* components/inputs/selection-input-component/SelectionInputComponent.module.scss */

.container {
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.relative {
  position: relative;
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.selected {
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(var(--hl1)); /* Tailwind's gray-500 */
}

.options {
  position: absolute;
  width: 100%;
  margin-top: 0.25rem;
  max-height: 15rem;
  overflow-y: auto;
  z-index: 1000;
}

.option {
  font-family: var(--sourceSans3);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activeOption {
  background-color: hsl(var(--bg2)); /* Tailwind's gray-100 */
}

.checkIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(var(--input-border)); /* Tailwind's green-500 */
}
